<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^privacy-policy\.html$ /privacy-policy [R=301,L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^privacy-policy/?$ /privacy-policy.html [L]
</IfModule>
